* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
}

h1 {
    font-size: 500px;
    text-align: center;
    animation: moveUpDown 3s ease-in-out infinite;
}

body {
    background-color: orange;
}

@keyframes moveUpDown {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-50px);
    }
}