/* ---------------------------------------------- */
/* Global Variables */

:root {
  --ultramarine: #0437f2;
  --gus-orange: #f55600;
  --off-white: #f5f5f5;
  --off-black: #222222;
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* Main body */

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: var(--ultramarine);
  font-family: Helvetica Neue, sans-serif;
  scroll-behavior: smooth;
  color: var(--off-black);
  
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  min-height: 100vh;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
  color: var(--off-black);
}

@media (max-width: 600px) {
  body, html {
    overflow-x: hidden;
  }
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* Title */

.title {
  grid-row: 1;
  text-align: center;
  color: var(--off-black);
  font-size: 300px;
  font-style: italic;
  font-weight: 200;
  position: absolute;
  left: 20px;
  top: -70px;
  z-index: 1;
  user-select: none;
  line-height: normal;
}

@media (max-width: 600px) {
  .title {
    font-size: 200px;
    width: 400px;
    left: -30px;
    top: 0;
  }
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* Navigation bar */

.nav-bar {
  grid-row: 1;
  text-align: center;
  color: var(--off-black);
  font-size: 19px;
  font-style: italic;
  font-weight: 200;
  position: absolute;
  top: 10px;
  right: 20px;
  z-index: 2;
}

.nav-bar a {
  color: var(--off-black);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-bar a:hover,
.nav-bar a.active {
  color: var(--off-white);
}

.nav-bar a.active {
  pointer-events: none;
}

@media (max-width: 600px) {
  .nav-bar {
    font-size: 18px;
  }
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* Content */

.content {
  grid-row: 2;
  text-align: center;
  font: italic 300 15px Helvetica, sans-serif;
  text-transform: uppercase;
}

@media (max-width: 600px) {
  .content {
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 50px;
  }
}

/* ---------------------------------------------- */
/* ---------------------------------------------- */
/* Footer */

.footer {
  grid-row: 3;
  text-align: center;
  font: italic 300 15px Helvetica, sans-serif;
  color: var(--off-black);
  padding: 10px 10px 10px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}

.footer-content {
  justify-content: space-between;
  flex-direction: row-reverse;
}

.social-links {
  display: inline-block;
  position: sticky;
  bottom: 10px;
  z-index: 100;
}

.social-icon {
  color: var(--off-black);
  font-size: 20px;
  margin: 5px 5px;
  transition: color 0.3s ease;
}

.social-icon:hover {
  color: var(--off-white);
}

.footer .social-links a[href*="instagram"] {
  text-decoration: none; 
}

.footer .social-links a[href*="instagram"]::after {
  content: none;
  display: none;
}

@media (max-width: 600px) {
  .footer {
    font-size: 12px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 96%;
    z-index: 10;
  }

  .footer-content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  
  .footer-content {
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .social-links {
    display: block;
  }

  .social-icon {
    font-size: 16px;
  }
}