/* Content */
.content {
    padding: 20px 4px;
    box-sizing: border-box;
}

.content a {
    color: var(--terminal-green);
}

/* ---------------------------------------------- */
/* Responsive design for different viewports */

/* Phone view (max-width: 600px) */
@media (max-width: 600px) {

    .content {
        padding: 15px 4px;
    }
}